
@page { size: A4 }
:root {
    --MyOrange: rgb(255, 161, 54); 
    --std-tab-size: 20px;;
}
* {
    margin: 0;
}

body {
    font-size: 11pt;
    font-family: Roboto, Verdana, Tahoma, sans-serif;
}

.col1 {
    width: 15%; 
    text-align: end; 
    float: left;
}

.col2 {
    padding-left: 18%; 
    text-align: start;
}

a {
    color: var(--MyOrange);
    text-decoration: none;
}

.content {
    justify-content: center;
    display: grid;
}

.o-list-item-std-vertical-margin + .o-list-item-std-vertical-margin {
    margin-top: 0.4em;
}

.h2, h2 {
    font-size: 22px;
    margin: 6px 0;
}

.h3, h3, .h4, h4 {
    font-size: 18px;
    margin: 6px 0;
}